@import "../runo/styles.css";

/* added css */
.simulator-header{
    font-size: 24px;
    line-height: normal;
    font-weight: bolder;
    letter-spacing: -0.03em;
    color: #f14c1a;
    height: 18px;
    padding-left:60px;
}
.mobile-phone-background{
    background: transparent url(images/mobile_phone_with_display.jpg) no-repeat;
    width: 119px;
    height: 236px;
    padding-left: 11px;
    padding-top: 30px;
    z-index: -1;
}

.message-display{
    background-color: #ffffff;
    border: none;
}

