@import "../runo/styles.css";

/* added css */

.root-layout {

}

.hsenid-logo img {
    margin-top: -20px;
    height:50px;
}

.simulator-header {
    font-size: 24px;
    line-height: normal;
    font-weight: bolder;
    letter-spacing: -0.03em;
    color: #f14c1a;
    height: 18px;
    padding-left: 60px;
}

.mobile-phone-background {
    background: transparent url(images/mobile_phone_with_display.jpg) no-repeat;
    width: 119px;
    height: 236px;
    padding-left: 11px;
    padding-top: 30px;
    z-index: -1;
}

.message-display {
    background-color: #ffffff;
    border: none;
    width: 98px;
    height: 112px;
    font-size:12px;
}

.address-display {
    background-color: #ffffff;
    width: 98px;
    height: 15px;
    border-bottom: 1px solid #7d7d7d;
    font-size:12px;
    text-align:center;
}

/*----------------------Edited Vaadin Styles--------------------*/

/*vaadin table column header alignment*/
.v-table-caption-container {
    text-align: center;
    font-size: 13px;
}

/*vaadin panel content bottom horizontal line removal*/
.v-panel-content {
    border-bottom: none;
}

/*vaadin tabsheet bottom horizontal line removal*/
.v-tabsheet-content {
    border: 1px solid #babfc0;
    background-color: #fff;
    border-bottom: none;
    border-top: none;
}

/*vaadin table caption */
.sent-message-table {
    width: 390px !important;
}
.received-message-table {
    width: 390px !important;
}

.v-caption-sent-message-table .v-captiontext {
    color: #f14c1a;
    padding-bottom: 7px;
    font-size: 16px;
}
.v-table-body{
    font-size: 12px;
}

/*table row height*/
.v-table-components-inside .v-table-cell-content {
    height: 36px;
}
